html, body, div, span{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body{
  background-color: #C0C0C0;
  font-size:14px;
}
a{
  color: #2F4F4F;
h1{
  color: #2F4F4F;
  font-family: copperplate;
  font-size:34px;
  font-weight: bold;
  text-align: left;
  letter-spacing: 3px;
  padding: 50px;
  text-transform:uppercase;
}

p{
  text-align: right;
  font-family: Times;
  font-size:22px;
  letter-spacing: 1px;
  font-style:italic;
}

a{
  color: #2F4F4F;
}
h2{color: #2F4F4F;
  font-family: copperplate;
  font-size:25px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
  padding: 50px;
  text-transform:uppercase;
  }
